body{
  background:#8b7cbd;
}


.center-screen {
  border: 1px solid black;
  justify-content: center;
  min-height: 55vh;
  margin: 10vh;
  margin-right: 70vh;
  margin-left: 70vh;
  background-image: linear-gradient(#e6e5ea, #c2c1ca, #e6e5ea);
  margin-bottom: 1%;
}

.center-screen2 {
  border-width: 2px;
  border-style: solid;
  border-color: #black;
  justify-content: center;
  float: left;
  width: 45%;
  height: 100%;
  margin: 5vh;
  background-image: linear-gradient(#e6e5ea, #c2c1ca, #e6e5ea);
  margin-bottom: 10vh;
}

.form{
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom:5%;
}

.form2{
  margin-right: 20%;
  margin-left: 20%;
}

input{
  width: 50vh;
  height: 5vh;
  margin-bottom: 2vh;
}

.input2{
  font-size:24px;
  width: 70vh;
  height: 9vh;
  margin-bottom: 2vh;
}

button{
  margin-top: 2vh;
  width: 40vh;
  height: 10vh;
  margin-left: 10%;
}

.button2{
  margin-top: 0vh;
  width: 40vh;
  height: 10vh;
  margin-left: 20%;
  font-size: 25px;
}

.titulo{
  background-image: linear-gradient(#e6e5ea, #c2c1ca);
  margin-top: 1vh;
  padding-left: 1vh;
  padding-bottom: 0.5vh;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;  
}

.titulo2{
  background-image: linear-gradient(#e6e5ea, #c2c1ca);
  margin-top: 1vh;
  padding-left: 1vh;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  margin-bottom: 0vh;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: black;  
}


h2, label{
  font-weight: lighter;
  font-family: "Tahoma", sans-serif;
}

a{
  font-family: "Tahoma", sans-serif;
}

.tabela {
  font-family: "Tahoma", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tabela td, .tabela th {
  border-top: 1px solid black;
  padding: 5px;
}

.tabela tr:hover {
  background-image: linear-gradient(#d6d5dc, #ececf7, #d6d5dc)
}

.tabela tr{
  background-image: linear-gradient(#d6d5dc, #e2e1ea, #d6d5dc)
}

.tabela th {
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(#e6e5ea, #c2c1ca);
}


.filmesmenos {
  font-family: "Tahoma", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.filmesmenos td, .filmesmenos th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

.filmesmenos tr:hover {
  background-image: linear-gradient(#d6d5dc, #ececf7, #d6d5dc)
}

.filmesmenos tr{
  background-image: linear-gradient(#d6d5dc, #e2e1ea, #d6d5dc)
}

.filmesmenos th {
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(#e6e5ea, #c2c1ca);
}

.filmesmais {
  display: none;
  font-family: "Tahoma", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.filmesmais td, .filmesmais th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

.filmesmais tr:hover {
  background-image: linear-gradient(#d6d5dc, #ececf7, #d6d5dc)
}

.filmesmais tr{
  background-image: linear-gradient(#d6d5dc, #e2e1ea, #d6d5dc)
}

.filmesmais th {
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(#e6e5ea, #c2c1ca);
}


.generosmenos {
  font-family: "Tahoma", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.generosmenos td, .filmesmenos th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

.generosmenos tr:hover {
  background-image: linear-gradient(#d6d5dc, #ececf7, #d6d5dc)
}

.generosmenos tr{
  background-image: linear-gradient(#d6d5dc, #e2e1ea, #d6d5dc)
}

.generosmenos th {
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(#e6e5ea, #c2c1ca);
}

.generosmais {
  display: none;
  font-family: "Tahoma", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.generosmais td, .generosmais th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

.generosmais tr:hover {
  background-image: linear-gradient(#d6d5dc, #ececf7, #d6d5dc)
}

.generosmais tr{
  background-image: linear-gradient(#d6d5dc, #e2e1ea, #d6d5dc)
}

.generosmais th {
  font-family: "Tahoma", sans-serif;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(#e6e5ea, #c2c1ca);
}